# Folders
.pio
node_modules

# Default README of PlatformIO
README

#	VSCode workspace configurations
*.code-workspace

# json
c_cpp_properties.json
extensions.json
launch.json

# h
# WiFi connection info
password.h
